<!DOCTYPE html>
<html lang="ja">
<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		<title>What Breed is Your Dog?</title>
		<link rel="stylesheet" href="../static/stylesheet.css">
</head>
<body>
		<header>
				<div class="header-logo" href="#">What Breed is Your Dog?</div>
		</header>

		<main>
				<img class="main_img" src="static/main_img2.jpg">  
				<h2> AIが送信された画像から犬種を判別します</h2>
				<form method="POST" enctype="multipart/form-data">
						<input class="file_choose" type="file" name="file">
						<input class="btn" value="判別する" type="submit">
				</form>
				<div class="answer">{{answer}}</div>
		</main>

		<footer>

		</footer>
</body>
</html>
